{% extends 'base.html' %}

{% block meta %}
<title>Add New Task</title>
{% endblock meta %}

{% block content %}

    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'create_task.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>

        <div class = "set-responsive">
        <div class = "create_task">

            <h1>Create New Task</h1>

            <form method="POST" action="">
                <setfield>
                {% csrf_token %}
                <table>
                    <div class="txt_field">
                        Task Title :
                        <input type="text" name="title" placeholder="Enter Your Task Title" class="form-control">
                    </div>
                            
                    <div class="txt_field">
                        Description :
                        <input type="text" name="description" placeholder="Enter Your Task Description" class="form-control">
                    </div>

                    <tr>
                        <input class="btn create_task" type="SUBMIT" value="Add Task">
                    </tr>

                </table>
            
                </setfield>
            </form>
        </div>
        </div>

{% endblock content %}   