{% extends 'base.html' %}

{% block meta %}
<title>My To Do List</title>
{% endblock meta %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todolist.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<html>
    <div class = "set-responsive">
    <h1>Hi {{user.username}}, this is your To Do List!</h1>

    <a href="{% url 'todolist:create_task' %}">
    <button class = "new-task-button">New Task</button></a></td>

    <a href="{% url 'todolist:logout' %}">
    <button class = "logout-button">Logout</button></a></td>

    {% comment %} Add the data below this line {% endcomment %}
    {% for task in todolist_data %}

    <div class = "card">
        <p class = "task-title">{{task.title}}</p>
        <p class = "task-description">{{task.description}}</p>
        <p class = "task-date"> Created on : {{task.date}}</p>

        <div class = "task-status">
            {% if task.is_finished == True%}
                <p> Status : Done ✅</p>
                <div class="button-task">
                    <a href="/todolist/task-status/{{task.id}}">
                        <button class="button" type="submit">Rework</button>
                    </a>
            
                    <a href="/todolist/delete-task/{{task.id}}">
                            <button class="button" type="submit">Delete</button>
                    </a>
                </div>
            {% else %}
                <p> Status : Not Done ❌</p>
                <div class="button-task">
                    <a href="/todolist/task-status/{{task.id}}">
                        <button class="button" type="submit">Finish</button>
                    </a>
            
                    <a href="/todolist/delete-task/{{task.id}}">
                        <button class="button" type="submit">Delete</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
</html>
{% endblock content %}