html {
    font-family: 'Poppins', sans-serif;
    background:  linear-gradient(to bottom, #91dee8, #8c92d4);
    min-height: 100%;
}
  
setfield {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 20px;
    text-align:center;
    width: 400px;
    background: #ffffff;
    border-style: none;
}

.login {
    text-align: center;
    padding: 10px ;
}

form .txt_field {
    position: center;
    border-bottom: 2px solid #adadad;
    margin: 25px;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

input[type="SUBMIT"] {
    width: 60%;
    height: 45px;
    border: 1px solid;
    background: #8c92d4;
    border-radius: 15px;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold; 
    font-family: 'Poppins';
}

input[type="submit"]:hover {
    border-color: #000000;
    transition: .5s;
    cursor: pointer;
}

.signup_link {
    margin: 30px 0;
    color: #666666;
    text-align: center;
    font-size: 14px; 
}

.signup_link a {
    text-decoration: none;
    color: #2691d9;
}

.signup_link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.set-responsive {
    display: flex;
    justify-content: space-around;
 }
  