body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right bottom, #ffffff,#d17ea3);
    height: 100vh;
    margin-top: 50px;
  }

  setfield {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 20px;
    width: 900px;
    background: #ffffff;
    border-style: none;
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .register {
    text-align: left;
    padding: 0 5px ;
  }

  form .txt_field {
    position: center;
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 5px;
  }
  
  .txt_field input {
    width: 100%;
    padding: 5px;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: none;
  }
  
  input[type="SUBMIT"] {
    width: 20%;
    height: 40px;
    border: 1px solid;
    background: #5cafba;
    border-radius: 15px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold; 
    font-family: 'Poppins';
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"]:hover {
    border-color: #000000;
    transition: .5s;
  }